<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Kanban Fire</span>
</mat-toolbar>

<div class="content-wrapper">

  <button
    mat-raised-button
    color="primary"
    class="new-task"
    (click)="newTask()"
  >
    <mat-icon>add</mat-icon> Add Task
  </button>

  <div class="container-wrapper">

    <div class="container">
      <h2>Backlog</h2>
      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[inProgressList, doneList]"
        (cdkDropListDropped)="drop($event)"
      >
        <p *ngIf="!todo.length" class="empty-label">Empty list</p>
        <app-task
          *ngFor="let task of todo"
          cdkDrag
          [task]="task"
          (edit)="edit('todo', $event)"
        ></app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>In Progress</h2>
      <mat-card
        cdkDropList
        id="inProgress"
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
      >
        <p *ngIf="!inProgress.length" class="empty-label">Empty list</p>
        <app-task
          *ngFor="let task of inProgress"
          cdkDrag
          [task]="task"
          (edit)="edit('inProgress', $event)"
        ></app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>Completed</h2>
      <mat-card
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[inProgressList, todoList]"
        (cdkDropListDropped)="drop($event)"
      >
        <p *ngIf="!done.length" class="empty-label">Empty list</p>
        <app-task
          *ngFor="let task of done"
          cdkDrag
          [task]="task"
          (edit)="edit('done', $event)"
        ></app-task>
      </mat-card>
    </div>

  </div>
</div>
